Unifood/.DS_Store
.DS_Store
Unifood/Unifood.xcodeproj/project.xcworkspace/xcuserdata/turma02-11.xcuserdatad/UserInterfaceState.xcuserstate
Unifood/Unifood.xcodeproj/project.xcworkspace/xcuserdata/turma02-11.xcuserdatad/UserInterfaceState.xcuserstate
